@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select{margin: 0;padding: 0;border: 0;}
table{ border-collapse:collapse;}
body{font-size:12px;color:#333; font-family:"Microsoft Yahei"; overflow-x:hidden; background:#f7f7f7;margin:0 auto;padding:15px;}
.bodybg{ background:url(../images/bodybg.jpg) right 160px no-repeat;}
img,a{border:0; text-decoration:none;}
ol, ul {list-style: none; }

a{color:#333;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;transition: all .3s ease-out;}
a:hover{color:#005b9e;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;transition: all .3s ease-out;}
img{ max-width:200%; height:auto;}
.web-width{width:1200px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}

.tjpl-form textarea{margin:0;padding:0;border:0;background:none;width:100%;border:#ccc 1px solid; height:100px;padding:5px;}
.tjpl{padding:1em 0; position:relative;}
.tjpl span{ position:absolute;right:0;top:2em; cursor:pointer;}
.tjpl input{margin:0;padding:0;border:0;width:150px; background:none;text-align:center; background:#2A8357;height:40px;line-height:40px;color:#fff; font-size:1.5em; font-weight:bold; border-radius:5px;border-bottom:#216746 3px solid; font-family:"微软雅黑"}
.pinghuifu{width:100%;border-bottom:#CCC 1px solid;margin-bottom:10px; background-position:center center;}
.pinghuifu td{padding:12px 0 0 0;}
.pl-touxang{width:90px; height:90px; border-radius:45px; overflow:hidden;}
.pinghuifu h5{font-size:14px; font-weight:bold;padding:5px 0;}
.phPar{font-size:12px;color:#666;}
.huifu-s{ text-align:right;padding:5px 0;}
.huifu-s span{ cursor:pointer;color:#666;}
.huifu-s span:hover{color:#900;}
.reply textarea{margin:0;padding:0;border:0;background:none;width:100%;height:80px;border:#ccc 1px solid;}
.re-tijiao{ text-align:right;padding:6px 0;}
.re-tijiao input{width:90px;height:28px; background:none;margin:0;padding:0; border:0; border-radius:4px; background:#70AF2F;border-bottom:#548422 3px solid;color:#fff; cursor:pointer;}
.re-tijiao input:hover{background:#548422;}
.re-hide,.reply{ display:none;}
.pinghuifu tr{border-bottom:#ccc 1px solid;}