/*reset */
*{ margin:0; padding:0;}
body,input,textarea,select{font-size:16px;font-family:'微软雅黑',Arial, sans-serif;-webkit-appearance:none;}
a {text-decoration: none; color:#212020}
h1,h2,h3,h4,h5{ font-weight:normal;}
fl{float:left;}
fr{float:right;}
ul{ list-style:none;}
img{ border:none;}
input{ border:none}
em,i{ font-style:normal;}
.nbor{ border: none!important;}
.tc{ text-align:center}
.tr{ text-align:right}
.fr{ float:right}
.fl{ float:left}
.fs9{ font-size:9px}
.fs12{ font-size:12px}
.fs14{ font-size:14px}
.fs18{ font-size:18px}
.pl10{ padding-left:10px;}
.mr10{ margin-right:10px;}
.ml{ margin-left:0px !important;}
.mt8{ margin-top:8px;}
.mt3{ margin-top:3px;}
.ml5{ margin-left:5px;}
.mr3{ margin-right:3px;}
.ml3{ margin-left:3px;}
.c666{ color:#666;}
.white{ color:#fff;}
.h10{ height:10px; }
.height5{ height:5px; }
.borLeft3{ border-left:3px solid #FFF;}
.borRight3{ border-right:3px solid #FFF;}

.spanFengSe,.spanJuSe,.spanLanSe,.spanLuSe,.spanZiSe{padding:2px 4px; border-radius:3px; margin-right:10px; font-size:12px;}
.spanFengSe{ border:1px solid #ff7659; color:#ff7659;}
.spanJuSe{ border:1px solid #df9e03; color:#df9e03;}
.spanLanSe{border:1px solid #41b9f5; color:#41b9f5;}
.spanZiSe{border:1px solid #ce7dcb; color:#ce7dcb;}
.spanLuSe{border:1px solid #36c770; color:#36c770;}

.wrapper{ margin:0 auto; max-width:800px; min-width:320px;}
/* 顶部大图 */
.topBigImgText{margin:10px 10px; padding:7px 7px; border:1px dashed #7dd382; }
.imgText{background:#e4fdf2; padding:5px 5px;}
.imgText p{ font-size:13px; margin:3px 0; line-height:20px;}
/*祭奠和祝愿按钮,祝福按钮模块*/
.mkJdZy,.mkBtnZf{ background:#e4fdf2; padding:10px 10px 0 10px; text-align:center; overflow:hidden}
.mkJdZy ul{ width:48%}
.mkJdZy ul li,.mkBtnZf ul li{ margin-bottom:10px;}
.mkJdZy img,.mkBtnZf img{ vertical-align:middle; margin-right:5px;}
.mkJdZy .btn_jd,.mkBtnZf .btn_jd{ color:#36c770; height:35px;line-height:35px;  border-radius:5px; border:1px solid #34bb6a; display:inline-block; text-align:center; background:#f0fef8;width:100%}
.mkBtnZf ul{ width: 50%; margin:0 auto}
/*事件信息模块*/
.mkEventInfo{ font-size:12px;overflow:hidden; background:#f1f1f1; padding:13px 0 10px 15px;}
.mkEventInfo p{  margin-bottom:3px; padding-left:45px;}
.mkEventInfo span{ margin-right:5px; background:#34bb6a; border-radius:100px; display:inline-block; padding:0 8px; color:#fff; float:left}
/*5字导航条*/
.mkNav_five,.mkNav_four,.mkNav_three{ height:36px; line-height:36px; border-bottom:1px solid #d4d4d4; border-top:1px solid #d4d4d4;}
.mkNav_five a,.mkNav_four a,.mkNav_three a{ width:20%; display:inline-block; text-align:center; float:left; color:#212020;}
.mkNav_lvse{ color:#34bb6a; width:80%;  border-bottom:2px solid #34bb6a;display:inline-block; height:35px; line-height:35px;}
.mkNav_four a{ width:25%}
.mkNav_three a{ width:33.333%;}
/*红色大标题*/
.mkRedTitle{  color:#dd4e4e; text-align:center }
.mkRedTitle h1{font-size:18px;}
.mkRedTitle p{ color:#999; font-size:12px;}
/*有手模块,一张图列表模块*/
.mkshou h2{ font-size:16px; height:35px; line-height:35px;}
.mkshou h2 img{ margin-right:7px;}
.mkshou li,.mkImgList_1 li{ padding:0 10px; border-bottom:1px solid #e9e9e9; clear:both; overflow:hidden;}
.mkshou li p{ color:#999; font-size:13px; margin-bottom:10px}

.mkImgList_1 li{ padding:10px 10px;}
.mkImgList_1 h2{ font-size:15px; margin-bottom:2px;}   
.mkImgList_1 p{ color:#999; font-size:13px;}
/*一般按钮*//*提交按钮*/
.btn_tijiao{ margin:0 10px;}
.btn_yiban a,.btn_tijiao a,.btn_tijiao input{ background:#eafbe1; border:1px solid #d1ebdb; border-radius:3px; display:block; padding:8px; margin:0 10px; text-align:center; color:#36c770;}
.btn_tijiao a ,.btn_tijiao input{  background:#36c770;border:0px; color:#fff;margin:0;}
.btn_tijiao input{ width:100%;}
/*两张图列表模块*/
.mkImgListTwo{ overflow:hidden;margin-top:15px;padding:0 8px;}
.mkImgListTwoIeam{ margin-bottom:10px; position:relative; width:49%; height:auto; float:left}
.mkImgListTwoIeam:nth-child(2n){ float:right;}
.mkImgListTwoIeam img{ display:block}
.mkImgListTwoIeam p{  background:none repeat scroll 0% 0% rgba(0, 0, 0, 0.5); color:#fefefe; font-size:14px; height:23px; line-height:23px; padding-left:10px;}
.mkImgListTwoIeam_text{ position:absolute; bottom:0; left:0; width:100% }

/*意见模块*/
.mkyijian{background:#ededed;overflow: hidden;padding:10px;}
.mkyijian h1{ font-size:16px;}
.mkyijian p{ color:#666; font-size:14px; margin:0px 0 5px;}
.mkyijian textarea{font-size: 14px;resize: vertical;height: 70px;width: 100%;border: 1px solid #d8d8d8;margin: 0;padding: 8px;border-radius:2p;
-webkit-box-sizing: border-box;box-sizing: border-box;}
/*评论列表模块*/
.mkReviewList li{ border-bottom:1px solid #e9e9e9; padding:10px 10px;}
.mkReviewList h2{ color:#36c770; font-size:12px; margin-bottom:3px;}
.mkReviewList p{ font-size:14px; color:#000;margin-bottom:3px;}
.mkReviewList span{ color:#797979; font-size:12px;}
.mkReviewList span i{ color:#36c770}
/*祝愿模块*/
.mkWishFenseBg{ background:#fef5f4; border:1px solid #fdcac3;}
.mkWishFenseBgRight{ background:#fee6e3;}
.mkWishFenseBgRightA{ background:#f97c6b;}

.mkWishJuseBg{ background:#fdfcdd; border:1px solid #faeb99;}
.mkWishJuseBgRight{ background:#fefac7;}
.mkWishJuseBgRightA{ background:#ffa626;}

.mkWishLanseBg{ background:#e4fcfe; border:1px solid #8ce5ec;}
.mkWishLanseBgRight{ background:#baf7fc;}
.mkWishLanseBgRightA{ background:#01b1e4;}

.mkWishZiseBg{ background:#f8ebfe; border:1px solid #e6b4fd;}
.mkWishZiseBgRight{ background:#f4ddfe;}
.mkWishZiseBgRightA{ background:#ac4ddd;}

.mkWishLvseBg{ background:#ebfef9; border:1px solid #95d9c7;}
.mkWishLvseBgRight{ background:#d6f6ee;}
.mkWishLvseBgRightA{ background:#30d171;}

.mkWishItem1{height:119px; border-radius:5px; margin:10px; position:relative;}
.mkWishItem1 h3{padding:10px 100px 10px 10px; color:#3a3a3a; font-size:14px; }
.mkWishItemRight{height:119px; width:100px; position:absolute; top:0; right:0; text-align:center}
.mkWishItemRight p{ text-align:center}
.mkWishItemRight p img{ margin-top:5px;}
.mkWishItemRight p a{ display:inline-block; margin:0 10px; color:#fff; padding:4px 20px;border-radius: 5px;margin-top:5px; margin-bottom:2px;}
.mkWishItemRight p span{ color:#999; font-size:12px;}

/*宠物模块*/
.mkPet h2{ font-size:16px; padding-left:10px;}
.mkPetItem{ overflow:hidden; margin:10px 10px 0 10px;}
.mkPetItemLeft ,.mkPetItemRight{ width:49%; float:left; background:#ededed}
.mkPetItemRight{ float:right}
.mkPetItemLeft p,.mkPetItemRight p{ font-size:14px; color:#666; padding:10px 10px 0 10px; height:70px; } 
.mkPetItemLeft .btn_toupiao ,.mkPetItemRight .btn_toupiao{ height:auto}
.mkPetItemLeft .btn_toupiao a,.mkPetItemRight .btn_toupiao a{ display:inline-block; padding:4px 20px; background:#36c770; border-radius:3px; color:#fff; margin-bottom:10px;}
.mkPetItemRight .btn_toupiao a{ background:#f97c6b}

.mkPetBottom{ position:relative;}
.mkPetBottom .shouLv{ position:absolute; top:0; left:0;}
.mkPetBottom .fengLv{ position:absolute; top:0; right:0;}
.mkPetBottom{ margin:10px 10px 0; height:30px; padding-top:1px}
.mkPetBottomfeng{height:11px; background:#f97c6b; margin:10px 30px 0 30px;}
.mkPetBottomlv{ height:11px; background:#36c770; width:50%; }

/*评选模块*/
.mkPingxuan h2{ height:39px; line-height:39px; background:#f5f5f5; padding:0 10px; margin:10px; font-size:16px;}
.mkPingxuan li{ padding:10px 10px 0px; border-bottom:1px solid #e9e9e9}
.mkPingxuan li p{ margin:10px 0; color:#666; font-size:14px;}
.huise{ height:4px; background:#ededed} 
.mkPxChc{ height:16px; width:16px; border:1px solid #b2b2b2; padding:1px;display:inline-block; margin-right:10px; vertical-align: bottom} 
.mkPxChc a{ height:16px; width:16px; display:inline-block; }
.mkPxChcAbg{background:#36c770}

.mkPxBgFen ,.mkPxBgLv ,.mkPxBgJu ,.mkPxBgZi ,.mkPxBgLan{ background:#f97c6b; width:30%;height:4px;}
.mkPxSpanFen ,.mkPxSpanLv ,.mkPxSpanJu ,.mkPxSpanZi ,.mkPxSpanLan{color:#f97c6b; float:right}

.mkPxBgLv{ background:#96e289; width:30%;}
.mkPxSpanLv{ color:#96e289;}

.mkPxBgJu{ background:#ffa626; width:30%;}
.mkPxSpanJu{ color:#ffa626;}

.mkPxBgZi{ background:#ac4ddd; width:30%;}
.mkPxSpanZi{ color:#ac4ddd;}

.mkPxBgLan{ background:#15c8fc; width:30%;}
.mkPxSpanLan{ color:#15c8fc;}
/*圆形图片列表*/
/*旧的
.mkYuanImgList1{ margin:0 10px 10px;position:relative;}
.mkYuanImgLeft{ position:absolute; top:10px; left:0px;}
.mkYuanImgRight{ position:relative; margin-left:90px; height:100px; background:#eee; padding:10px; border-radius:5px;}
.mkYuanImgLeft p span{ display:inline-block; margin-top:5px; padding:1px 10px; background:#36c770;border-radius:100px;}*/
.mkYuanImgList1{position: relative; display: table; width: 100%;}
.mkYuanImgRight{padding: 10px; border-radius: 5px; display: table-cell; vertical-align: middle; background: #eee; position: relative;}
.mkYuanImgRight h2{ font-size:15px;}
.mkYuanImgRight img { position:absolute; left:-8px; top:55px;}
.mkYuanImgRight p{ color:#666; font-size:12px;}
.mkYuanImgLeft img{ border-radius:100px; border:2px solid #36c770}
.mkYuanImgLeft{display: table-cell; width: 100px;}
.mkYuanImgLeft p{ text-align:center; color:#fff}
.mkYuanImgLeft p span{ display:inline-block; margin-top:5px; padding:0px 10px; background:#36c770;border-radius:13px;}
/*模块图片列表*/
/*旧的
.mkListImgItem{display:-webkit-box;display: flex; margin:0 10px 3px; overflow:hidden;}
.mkListImgItem a{height:66px; display:block; -webkit-box-flex:1; overflow:hidden;}
.mkListImgItem a p{ height:46px; padding:12px 7px;text-align:center; color:#fff;}*/

.mkListImgItem{display:-webkit-box;display: flex; margin:0 10px 3px; overflow:hidden;}
.mkListImgItem p{height:42px; display:block; -webkit-box-flex:1; overflow:hidden; text-align:center; padding:12px 7px;flex:1;}
.mkListImgItem p a{ height:46px;text-align:center; color:#fff;}

.bgFengSe{ background:#f79e9e}
.bgJuSe{ background:#facc41}
.bgLuSe{ background:#a8d95b}
.bgLanse{ background:#95cdee}
/*普通列表*/
.mkList li{ height:45px; line-height:45px; }
.mkList li a{ height:45px; line-height:45px; color:#000; border-bottom:1px solid #e9e9e9; display:block; padding-left:10px; }
.mkList li p{background:url(../images/dayu.png) no-repeat right center / 6px 10px; margin-right:10px;}
/*模块大图*/
.mkBigImg{ position:relative; margin:10px;}
.mkBigImg .zhibo{ position:absolute; top:7px; left:0;}
.mkBigImg .zhibo p{ background:url(../images/zhiboBgImg.png) no-repeat right; background-size:13px 20px;padding-right:13px; height:20px; line-height:20px; }
.mkBigImg .zhibo span{ background:#f57070;height:20px; display:inline-block; font-size:13px; color:#fff;}
.mkBigImgText{ position:absolute; bottom:0; width:100%;}
.mkBigImgText p{background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);color: #FEFEFE;font-size: 16px;height: 30px;line-height: 30px;
padding-left: 10px; font-size:13px;}





.fxz{ background:#fffbe3; border:1px solid #ede4b2; border-radius: 3px; margin:10px 10px 15px 10px; font-size:14px; padding:7px 5px;}
.fxz h3{ font-weight:normal;}
.fxz p{ margin:3px 0;}
/*此样式覆盖名为css.css样式表里的样式，顶部与底部*/

/*顶部*/
.top{ height:44px; line-height:44px; background:#34bb6a; position: relative}
.top p{ color:#fff; font-size:17px; padding-left:55px;}
.top a{position:absolute;display: inline-block;}
.topA{ height:44px; width:44px; border-right:1px solid #7ed761; left:0; top:0;}
.topA img{ margin:11px 0 0 11px;}
.topTx{ top:7px; right:50px;}
.topRightImg{ height:44px; right:0px; top:0; width:40px;}
.topRightImg img{ margin:13px 0 0 11px;}

/*底部*/
.foorNav{ background:#34bb6a; height:35px; line-height:35px;}
.foorNav a{ float:left; width:20%; text-align:center; color:#fff;}

.foor{ padding-bottom:10px;background:#34bb6a;}
.foor p{ text-align:center; color:#fff; opacity:0.85; font-size:10px;}
.foor a{ margin:0 5px;color:#fff; opacity:0.85}
.foor .foorP1{ padding:13px 0; font-size:14px;}
/*标题样式表*/
.mkTitleTextBg{}
.bor_2b{border-bottom:2px solid #36c770;}
.mkTitle01,.mkTitle02{ overflow:hidden;  }
.mkTitle01 span,.mkTitle02 span{height:28px; line-height:28px; background:#36c770;  display:inline-block}
.mkTitle01 span,.mkTitle02 span{ padding:0 12px;}
.mkTitle02 a,.mkTitle04 a{ font-size:14px; color:#5db380;}

.mkTitle03{ background:#f7f7f7; height:34px; line-height:34px; border-top:1px solid #ededed;}
.mkTitle03 span,.mkTitle08 span{ color:#36c770}

.mkTitle04{ position:relative; }
.mkTitle04 span{ position:absolute;top:7px; left:22px; }

.mkTitle05{}
.mkTitle05 span,.mkTitle06 span{ float:left; height:28px; line-height:28px; display:inline-block; background:#36c770; padding:0 10px; }

.mkTitle06 span{  height:32px; line-height:32px; }

.mkTitle07{ border-left:12px solid #36c770; margin-right:10px; background:#f5f5f5; height:38px; line-height:38px;}

.mkTitle08{ height:30px; line-height:30px;}
.mkTitle08 span{ color:#36c770}

.mkTitle09{ position:relative; height:30px;}
.mkTitle09 .title09Line{ height:14px; border-bottom:2px solid #b7b7b7;}
.mkTitle09 p{ text-align:center;margin-top:-16px;}
.mkTitle09 span{  height:30px; line-height:30px; background:#fff; display:inline-block; padding:0px 10px;}
.mkTitle09 span i{background:#36c770; display:inline-block; padding:0px 10px; font-size:18px; color:#fff}

.mkTitle10{ margin:0 auto; overflow:hidden; text-align:center;}
.mkTitle10_item{display: inline-block;overflow:hidden;}
.mkTitle10 img{ float:left;}
.mkTitle10 span{ background:#36c770; float:left; display:inline-block; height:35px; line-height:35px; color:#fff;}

/*************************留言板页面******************************/
.his_gift .index_more img{
	padding-right: 5px;
	padding-bottom: 3px;
}
.liuyan .index_more img{
	padding-right: 5px;
}
.liuyan .ly_head{
	overflow: hidden;
	font-size: 12px;
	padding: 10px 10px 10px 0;
}
.liuyan ul{
	margin-left: 10px;
}
.liuyan li{
	border-bottom: 1px solid #e9e9e9;
}
.liuyan li.nobd{
	border-bottom: 0;
}
.liuyan li a{
	overflow: hidden;
	display: block;
}
.liuyan .ly_head span.fr{
	color: #9c9c9c;
}
.liuyan p{
	color: #333;
	font-size: 15px;
	padding-bottom: 12px;
}
.add-to-comment{
	background: #f0f0f0;
	overflow: hidden;
	padding:10px;
}
.add-to-comment textarea{
font-size: 14px;
resize: vertical;
height: 70px;
width: 100%;
border: 1px solid #d8d8d8;
margin: 0;
padding: 8px;
border-radius: 2px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.add-to-comment input{
	display: block;
	height: 27px;
	width: 50px;
	text-align: center;
	line-height:24px;
	border-radius: 2px;
	background: #00a308;
	font-size: 12px;
	color: #fff;
	margin-top: 8px;
}
.add-to-comment .btn_fb{
     float:right;
	display: block;
	height: 27px;
	width: 50px;
	text-align: center;
	line-height:27px;
	border-radius: 2px;
	background: #00a308;
	font-size: 12px;
	color: #fff;
	margin-top: 8px;
}
.ly_title{
	display: block;
	margin: 0 10px;
	color: #222;
	border-left: 3px solid #ffa70d;
	padding-left: 10px;
	margin-top: 10px;
}
.ly_title em{
	font-size: 12px;
	font-weight: normal;
	padding-left: 5px;
}
.liuyan_list span em{
	color: #999;
	padding-right: 2px;
}
.liuyan_list li a{
	display: inline;
	color:#00a308
}
.liuyan_list .handle {
	text-align: right;
	margin-bottom: 10px;
	padding-right: 10px;
}
.liuyan_list .handle a{
	display: inline-block;
	font-size: 12px;
	color: #444;
	border:1px solid #d0d0d0;
	background: #f8f8f8;
	border-radius: 2px;
	padding: 5px 7px;
	margin-left: 5px;
}
.liuyan_list .handle a img{
	margin-right: 5px;
	margin-top: -3px;
}
.reply-bg{
	border-top: 1px solid #e9e9e9;
	margin-bottom: 50%;
}
.liuyan-content li{
	position: relative;
}
.liuyan-content .arrow{
	display: block;
	right: 30px;
	bottom: -1px;
	position: absolute;
	width: 0;
	height: 0;
	border-width: 8px;
	border-color: #fff #fff #f0f0f0 #fff;
	border-style:dashed dashed solid dashed;
}
/*piao num*/
.piao_num{
	overflow: hidden;
	margin-top: 5px;
font-size: 12px;
padding-top: 3px;
}
.piao_num .fl{
	color: #36c770;
	padding-left: 3px;
}
.piao_num .fr{
	color: #f97c6b;
}
